*.py linguist-language=python
*.ipynb linguist-language=python
*.css linguist-vendored
*.scss linguist-vendored
*.html linguist-vendored
*.txt linguist-language
*.csv linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.toml linguist-vendored
*.lock linguist-vendored
*.ico linguist-vendored
*.js linguist-vendored
*.png linguist-vendored
*.md linguist-vendored
Procfile linguist-vendored
*.json linguist-vendored
*.db linguist-vendored